IMPORTING THE PACKAGE

In [1]:
import numpy as np 
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("loan_prediction.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [3]:
df.shape

(614, 13)

In [4]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
numerical_features = df.select_dtypes(include = [np.number]).columns
categorical_features = df.select_dtypes(include = [np.object]).columns

In [6]:
numerical_features

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [7]:
categorical_features

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [8]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])

In [9]:
df['Married'] = df['Married'].fillna(df['Married'].mode()[0])

In [10]:
df['Dependents'] = df['Dependents'].str.replace('+','')

In [11]:
df['Dependents'] = df['Dependents'].fillna(df['Dependents'].mode()[0])

In [12]:
df['Self_Employed'] = df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])

In [13]:
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mode()[0])

In [14]:
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])

In [15]:
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mode()[0])

In [16]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [17]:
df.select_dtypes(include='object').columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [18]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [19]:
df['Gender'].replace({'Male':1,'Female':0},inplace=True)

In [21]:
df['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [22]:
df['Married'].replace({'Yes':1,'No':0},inplace=True)

In [23]:
df['Dependents'].unique()

array(['0', '1', '2', '3'], dtype=object)

In [24]:
df['Dependents'].replace({'0':0,'1':1,'2':2,'3':3},inplace=True)

In [25]:
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [26]:
df['Self_Employed'].replace({'Yes':1,'No':0},inplace=True)
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [27]:
df['Property_Area'].replace({'Urban':2,'Rural':0,'Semiurban':1},inplace=True)

In [28]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [29]:
df['Loan_Status'].replace({'Y':1,'N':0},inplace=True)
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [30]:
df['Education'].replace({'Graduate':1,'Not Graduate':0},inplace=True)

In [31]:
df['CoapplicantIncome']=df['CoapplicantIncome'].astype("int64")
df['LoanAmount']=df['LoanAmount'].astype("int64")
df['Loan_Amount_Term']=df['Loan_Amount_Term'].astype("int64")
df['Credit_History']=df['Credit_History'].astype("int64")

In [32]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Loan_ID'] = le.fit_transform(df.Loan_ID)

In [33]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,1,0,5849,0,120,360,1,2,1
1,1,1,1,1,1,0,4583,1508,128,360,1,0,0
2,2,1,1,0,1,1,3000,0,66,360,1,2,1
3,3,1,1,0,0,0,2583,2358,120,360,1,2,1
4,4,1,0,0,1,0,6000,0,141,360,1,2,1

In [34]:
from imblearn.combine import SMOTETomek

In [35]:
smote = SMOTETomek(0.90)

In [36]:
y = df['Loan_Status']
x = df.drop(columns=['Loan_Status'],axis=1)

In [37]:
x_bal,y_bal = smote.fit_resample(x,y)

In [38]:
print(y.value_counts())
print(y_bal.value_counts())

1    422
0    192
Name: Loan_Status, dtype: int64
1    365
0    322
Name: Loan_Status, dtype: int64

In [39]:
from sklearn.preprocessing import StandardScaler

In [40]:
sc = StandardScaler()
x_bal = sc.fit_transform(x_bal)

In [41]:
x_bal = pd.DataFrame(x_bal)
x_bal.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.783417,0.559978,-1.216612,-0.714221,0.580152,-0.342160,0.049658,-0.494718,-0.336478,0.277459,0.548759,1.351828
1,-1.777581,0.559978,0.821955,0.325334,0.580152,-0.342160,-0.161568,-0.043454,-0.242396,0.277459,0.548759,-1.220764
2,-1.771745,0.559978,0.821955,-0.714221,0.580152,2.922613,-0.425685,-0.494718,-0.971534,0.277459,0.548759,1.351828
3,-1.765909,0.559978,0.821955,-0.714221,-1.723687,-0.342160,-0.495260,0.210907,-0.336478,0.277459,0.548759,1.351828
4,-1.760073,0.559978,-1.216612,-0.714221,0.580152,-0.342160,0.074852,-0.494718,-0.089512,0.277459,0.548759,1.351828